<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="mainContainer">
    <nav th:replace="fragments/admin-navbar :: admin-navbar"></nav>
    <div class="main" >
        <div  class="tableContainer" >

            <div class="table_title">Q&A 관리</div>
            <table class="table table-hover">
                <thead>
                <tr class="table-secondary">
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="notice : ${list}">
                    <th scope="row" th:text="${notice.board_no}"></th>
                    <td th:text="${notice.board_title}"></td>
                    <td th:text="${notice.board_writer}"></td>
                    <td th:text="${notice.board_date}"></td>
                    <td></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>