<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="mainContainer">
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="main" >
        <div class="formContainer">
            <div class="table_title">로그인</div>
            <form action="/members/login" method="post" th:object="${memberForm}">
                <div class="form-group row" style="text-align: center">
                    <label th:for="member_id" class="col-sm-2 col-form-label">ID</label>
                    <div class="" style="margin-left: 20px;    width: 400px;">
                        <input type="text"  class="form-control-plaintext" th:field="*{member_id}" value="아이디 입력">
                    </div>
                </div>
                <div class="form-group row" style="text-align: center">
                    <label th:for="member_password" class="col-sm-2 col-form-label">PASSWORD</label>
                    <div class="" style="margin-left: 20px;    width: 400px;">
                        <input type="text"  class="form-control-plaintext" th:field="*{member_password}" value="비밀번호 입력">
                    </div>
                </div>
                <div class="form-group row" style="text-align: center">
                    <div class="" style="margin-top: 30px; text-align: center; width: 100%;">
                        <button type="submit" class="btn btn-primary">로그인</button>
                        <a href="/members/new" class="btn btn-secondary">회원가입</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>