<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="mainContainer">
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="main" >
        <div  class="tableContainer" >

            <div class="table_title">Q&A</div>
            <div style="float: right; margin-bottom: 30px;">
                <a href="/board/newQna" class="btn btn-secondary">질문 등록</a>
            </div>
            <table class="table table-hover">
                <thead>
                <tr class="table-secondary">
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="qna : ${list}">
                    <th scope="row" th:text="${qna.board_no}"></th>
                    <td >
                        <a href="#" th:href="@{/board/{board_no} (board_no=${qna.board_no})}" th:text="${qna.board_title}" class="btn btn-primary" role="button">
                        </a>
                    </td>
                    <td th:text="${qna.board_writer}"></td>
                    <td th:text="${qna.board_date}"></td>
                    <td>

                        <a  th:if="${qna.getAnswer()== null}"type="button" class="btn btn-outline-warning">답변 중</a>
                        <a  th:if="${qna.getAnswer() != null}"type="button" class="btn btn-outline-warning">답변완료</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>